.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }
  
  .navbar-brand{
    padding-left:25px;
    padding-right:0px;
  }

  .jumbotron
  {
      background-image: url("");
      height: 80vh;
      background-size: cover;
      background-position:center;
      color: white;
      border-radius: 0px!important;

  }

  .img
  {
  overflow: hidden;
  }
  
    .jumbotron h1
    {
        margin: 30px 0;
        font-size: 30px;
        line-height: 1.5;
  
    }
    .intro
    {
        padding-top: 60px;
    }

    header {
        text-align: center;
        padding: 20px;
      }

      nav a:hover {
        color: #f4db1e;
        background-color: #000000;
        }
        
      
